services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_starter_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - symfony_starter_network
    ports:
      - "8080:80"

networks:
  symfony_starter_network:
    driver: bridge
