<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Symfony App {% endblock %}</title>
           <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Fira+Mono&display=swap" rel="stylesheet">
           <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{ "now"|date("Y") }} My Symfony App</p>
    </footer>
    {% block javascripts %}{% endblock %}
</body>
</html>
